.print-footer,
#url-container,
.page-break {
    display: none
}

.view-page *,
.view-page *:before,
.view-page *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: 'UniversNextW01-Regular', Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 31px;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none
}

div {
    vertical-align: top
}

p {
    margin: 0;
    padding: 0
}

strong,
b {
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    font-weight: normal
}

em,
i {
    font-family: 'Univers Next W01 Italic', Arial, Helvetica, sans-serif;
    font-style: normal
}

strong em,
strong i,
b em,
b i,
em strong,
em b,
i strong,
i b {
    font-family: 'Univers Next W01 Italic', Arial, Helvetica, sans-serif;
    font-weight: bold
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
    color: #000
}

a:active {
    color: #fff
}

img {
    border: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-size: 22px
}

input {
    -webkit-font-smoothing: antialiased;
    font-family: 'UniversNextW01-Regular', Arial, Helvetica, sans-serif
}

*:focus {
    outline: none
}

.page-magic-module,
.static-magic-module,
#create-page {
    margin: 0 28% 45px 28%;
    max-width: 1100px
}

.page-magic-module.editable {
    margin: 0 auto 45px auto;
    width: 630px
}

#content-wrapper {
    width: 100%
}

.strip-right-margin {
    margin-right: 0 !important
}

.page-magic-module.rag {
    float: left
}

.column-wrapper {
    float: left
}

.edit-view-null {
    margin: 0;
    padding: 10px;
    background-color: #ff0000;
    color: #fff
}

.clearer {
    clear: both
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.caption {
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px
}

#view-page .horizontal-divider-module {
    clear: both
}

.file-module-edit-description {
    padding: 3px;
    background-color: #ff9;
    font-size: 11px;
    line-height: 15px;
    color: #7f7f7f;
    margin-bottom: 10px
}

.file-module table,
.file-module tr,
.file-module td {
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    vertical-align: top
}

.image-module img {
    max-width: 100%;
    height: auto
}

#left-image-column {
    left: 20px
}

#right-image-column {
    right: 20px
}

#left-image-column,
#right-image-column {
    margin-top: 218px !important;
    position: absolute
}

.right-float-image-module,
.left-float-image-module {
    margin: 0 0 20px
}

.social-buttons {
    float: right;
    vertical-align: middle
}

.social-buttons a {
    padding: 8px;
    border: none !important
}

.video-module.page-magic-module.rag {
    float: none;
    margin-left: auto;
    margin-right: auto !important
}

.video-module {
    max-width: 630px
}

.video-module iframe {
    width: 100%
}

#navigation {
    margin: 0;
    padding: 0
}

#navigation .home-link {
    display: none
}

.page-footer-module {
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
    clear: both
}

.page-footer-module li {
    display: inline
}

.page-footer-module ul.logged-in a:link,
.page-footer-module ul.logged-in a:visited,
.warning {
    color: #000;
    padding: 7px 10px;
    margin-right: 10px;
    border: 1px solid #000;
    -moz-box-shadow: 4px 4px 4px #2351fc;
    -webkit-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000;
    background: #ffff6e
}

.page-footer-module ul.logged-in a:active {
    margin-left: 4px;
    vertical-align: -4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 6px
}

.page-footer-module li.hi {
    padding-bottom: 2px;
    border-bottom: 2px dashed #000;
    display: block
}

.page-footer-module .admin-button-row {
    height: 50px;
    white-space: nowrap
}

#footer {
    margin: 60px 0;
    height: 40px
}

ul#footer {
    list-style-type: none;
    list-style: none;
    text-align: justify;
    height: 21px
}

#footer li {
    display: inline-block;
    *display: inline;
    zoom: 1
}

#footer .stretch {
    width: 100%;
    display: inline-block;
    *display: inline;
    zoom: 1
}

#footer li.social {
    vertical-align: 4px
}

#footer .social-footer-buttons {
    display: inline-block;
    height: 58px;
    vertical-align: top
}

#footer .social-footer-buttons a.button-twitter {
    margin-right: 7px
}

.blue-text {
    font-size: 14px;
    color: #2351fc
}

.blue-text a:link,
.blue-text a:visited {
    color: #2351fc
}

.blue-text a:active {
    color: #fff
}

.button-container {
    width: 112px
}

.social-button {
    font-size: 0;
    line-height: 0
}

a.button-twitter {
    background: url("../images/retina/icon-twitter.png") no-repeat 0 0;
    width: 22px;
    height: 18px;
    display: block;
    margin: 0;
    font-size: 0px
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    a.button-twitter {
        background: url("../images/retina/full/icon-twitter.png") no-repeat 0 0 !important;
        -moz-background-size: 22px 36px;
        background-size: 22px 36px !important
    }
}

a.button-twitter:hover {
    background-position: 0 -18px
}

a.button-facebook {
    background: url("../images/retina/icon-facebook.png") no-repeat 0 0;
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: -2px;
    font-size: 0px
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    a.button-facebook {
        background: url("../images/retina/full/icon-facebook.png") no-repeat 0 0 !important;
        -moz-background-size: 20px 40px;
        background-size: 20px 40px !important
    }
}

a.button-facebook:hover {
    background-position: 0 -20px
}

a.button:link,
a.button:visited {
    padding: 7px 10px;
    margin-right: 10px;
    border: 1px solid #2351fc;
    color: #2351fc;
    -moz-box-shadow: 4px 4px 4px #2351fc;
    -webkit-box-shadow: 4px 4px 4px #2351fc;
    box-shadow: 4px 4px 4px #2351fc
}

a.button:active {
    margin-left: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

div.button-module {
    text-align: center
}

div.button-module a.button {
    background-color: #ffff6e
}

div.pay-pal-button-module {
    text-align: center
}

div.pay-pal-button-module input {
    padding: 7px 10px;
    margin-right: 10px;
    border: 1px solid #000;
    color: #000;
    background-color: #ffff6e;
    font-size: 14px;
    -moz-box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000
}

#footer-space {
    height: 1px
}

.announcement-module.flush-left {
    text-align: right
}

.announcement-module {
    text-align: justify;
    text-justify: inter-word
}

.announcement-module .text {
    position: relative
}

.announcement-module p {
    margin-bottom: 1em
}

.announcement-module p img {
    display: block;
    margin: 0px auto
}

p.last-child {
    margin: 0
}

.announcement-module a,
.announcement-module a:visited {
    border-bottom: 2px dashed #000
}

.announcement-module a:hover {
    border-bottom: 2px solid #000
}

.announcement-module h2 {
    cursor: pointer
}

.announcement-date {
    display: block;
    text-align: center
}

.text-module.flush-left {
    text-align: right
}

.text-module {
    text-align: justify;
    text-justify: inter-word
}

.text-module .text {
    position: relative
}

.text-module p {
    margin-bottom: 1em
}

p.last-child {
    margin: 0
}

.text-module a,
.text-module a:visited {
    border-bottom: 2px dashed #000
}

.text-module a:hover {
    border-bottom: 2px solid #000
}

.bios-module.flush-left {
    text-align: right
}

.bios-module {
    text-align: justify;
    text-justify: inter-word
}

.bios-module .text {
    position: relative
}

.bios-module p {
    margin-bottom: 1em
}

p.last-child {
    margin: 0
}

.bios-module a,
.bios-module a:visited {
    border-bottom: 2px dashed #000
}

.bios-module a:hover {
    border-bottom: 2px solid #000
}

.title,
.text-module h2,
.announcement-module h2,
.mailing-list-module h2 {
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 1em
}

.mailing-list-module .button-submit input {
    position: static;
    margin-top: 20px
}

.mailing-list-module .button-submit input:hover {
    background-position: 0 -95px
}

.mailing-list-module .form-block {
    font-size: 16px
}

.button-module {
    font-size: 14px
}

.button-module a.button:link,
.button-module a.button:visited {
    -moz-box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000;
    border: 1px solid #000;
    color: #000;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    line-height: normal
}

.button-module a.button:active {
    margin-left: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 8px;
    margin-bottom: 0
}

.image-grid-module-wide .pagination,
.events-module-grid-view .pagination {
    position: absolute;
    top: 3px;
    right: 0
}

.image-grid-module-no-title .pagination,
.events-module-grid-view-no-title .pagination {
    position: absolute;
    top: -15px;
    right: 0
}

a.image-grid-image,
a.image-grid-image:link,
a.image-grid-image:visited,
a.image-grid-image:hover,
a.image-grid-image:active {
    background: transparent;
    border-bottom: 0px none
}

.image-grid-row {
    padding: 0;
    margin: 0;
    clear: both
}

.image-grid-row * {
    vertical-align: top
}

.image-grid-image-container {
    float: left
}

.image-grid-row img {
    padding: 0;
    border: 0
}

.image-grid-row .last img,
.image-grid-row img.last,
.image-grid-row .image-grid-image-container.last {
    margin-right: 0
}

.image-grid-module .pagination .prev_page {
    margin-left: 0 !important
}

.image-grid-module h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px
}

.verbatim-module h2 {
    margin: 0;
    padding: 0
}

.show {
    display: block !important
}

.hide {
    display: none !important
}

.portrait-module .content {
    width: 100%;
    text-align: center
}

#edit-page .hide {
    display: block !important
}

#navigation {
    position: absolute;
    top: 16px;
    left: 10px;
    font-size: 16px;
    line-height: 20px
}

#navigation a {
    color: #000;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif
}

#navigation a:active {
    font-style: normal
}

#navigation li h1 {
    font-weight: normal;
    font-size: 16px;
    display: inline
}

#navigation .bullet {
    display: none
}

#navigation li:hover .bullet {
    display: inline
}

@keyframes yampAnimation {
    from {
        top: -25px
    }
    to {
        top: 10px
    }
}

@-moz-keyframes yampAnimation {
    from {
        top: -25px
    }
    to {
        top: 10px
    }
}

@-webkit-keyframes yampAnimation {
    from {
        top: -25px
    }
    to {
        top: 10px
    }
}

@-o-keyframes yampAnimation {
    from {
        top: -25px
    }
    to {
        top: 10px
    }
}

@keyframes yampAnimationBottom {
    from {
        bottom: -25px
    }
    to {
        bottom: 10px
    }
}

@-moz-keyframes yampAnimationBottom {
    from {
        bottom: -25px
    }
    to {
        bottom: 10px
    }
}

@-webkit-keyframes yampAnimationBottom {
    from {
        bottom: -25px
    }
    to {
        bottom: 10px
    }
}

@-o-keyframes yampAnimationBottom {
    from {
        bottom: 25px
    }
    to {
        bottom: 10px
    }
}

#top-right-yamp {
    display: none;
    position: fixed;
    top: -25px;
    right: 10px;
    z-index: 9999
}

#top-right-yamp.active {
    top: 10px;
    display: block;
    -webkit-animation: yampAnimation .2s;
    -moz-animation: yampAnimation .2s;
    -o-animation: yampAnimation .2s;
    animation: yampAnimation .2s
}

#top-right-yamp-permanent {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 500
}

#bottom-yamp-mobile {
    display: none;
    width: 42px;
    margin: -30px auto 60px
}

a.yamp-small {
    background: url("../images/retina/yamp-logo-small.png") no-repeat 0 0;
    width: 42px;
    height: 25px;
    display: block
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    a.yamp-small {
        background: url("../images/retina/full/yamp-logo-small.png") no-repeat 0 0 !important;
        -moz-background-size: 42px 25px;
        background-size: 42px 25px !important
    }
}

#header-image-wrapper {
    margin: 17px auto 91px
}

a.header-image {
    background: url("../images/retina/yamp-logo.png") no-repeat 0 0;
    margin: 0 auto;
    width: 208px;
    height: 127px;
    display: block
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    a.header-image {
        background: url("../images/retina/full/yamp-logo.png") no-repeat 0 0 !important;
        -moz-background-size: 208px 127px;
        background-size: 208px 127px !important
    }
}

.yamp-stamp {
    background: url("../images/retina/yamp-logo-small.png") no-repeat 0 0;
    width: 42px;
    height: 25px;
    margin: 0px auto;
    margin-top: 52px;
    margin-bottom: 60px;
    height: 25px;
    display: block
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    .yamp-stamp {
        background: url("../images/retina/full/yamp-logo-small.png") no-repeat 0 0 !important;
        -moz-background-size: 42px 25px;
        background-size: 42px 25px !important
    }
}

.horizontal-divider-line {
    border-bottom: 2px dashed #000;
    width: 100%;
    margin: 80px auto
}

.list-module-wrapper {
    margin: 0 -14px 20px
}

.list-module h3 {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 2px dashed #000;
    padding-bottom: 2px;
    margin: 0 14px
}

.list,
.list h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    float: left;
    position: relative;
    width: 50%;
    padding: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.list li strong {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    margin-bottom: 12px;
    font-family: 'UniversNextW01-Regular', Arial, Helvetica, sans-serif;
    display: block
}

.three-column {
    width: 33.333%
}

#header-space {
    height: 80px
}

#back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 500
}

#back-button a {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #000;
    -moz-box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000
}

#back-button a:active {
    margin-left: 4px;
    vertical-align: -4px;
    color: #000;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

body.timeline #back-button {
    top: -3px
}

a.profile {
    background: blue;
    font-family: 'Arial Black';
    color: #fff;
    padding-top: 2px
}
a.pinkback {
    background: pink;
    font-family: 'Arial';
    color: white;
    padding-top: 2px
}
a.pinktext {
    font-family: 'Arial';
    color: pink;
    padding-top: 2px
}
a.profile:active {
    background: #fff;
    color: #000;
    border-color: #fff
}

a.birth-year,
a.birth-year:visited {
    background: #ffff6e;
    border: 2px solid #ffff6e;
    -moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out
}

a.birth-year:hover {
    background: #fdd0e1;
    border-color: #fdd0e1
}

a.birth-year:active {
    color: #fff
}

a.graduation-year,
a.graduation-year:visited {
    background: #2351fc;
    color: #fff;
    border: 2px solid #2351fc;
    -moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out
}

a.graduation-year:hover {
    background: #3b4c99;
    border-color: #3b4c99
}

a.graduation-year:active {
    color: #000
}

a.database,
a.database:visited {
    border-bottom: 2px dashed #29E502;
    padding-top: 2px;
    -moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out
}

a.database:hover {
    background: #29E502;
    color: #000;
    border-bottom: 2px dashed #000
}

a.database:active {
    color: #fff
}

a.sound-link {
    border: none;
    color: #3B4C99;
    background-position-y: 100%, 100%;
    background-repeat: no-repeat, no-repeat;
    background-size: 0% 2px, 100% 2px
}

a.sound-link:hover {
    border: none;
    background-image: url("../images/audio-progress.png"), url("../images/audio-progress-grey.png")
}

a.sound-playing {
    background-image: url("../images/audio-progress.png")
}

.sound-clock {
    color: #3B4C99
}

.sound-clock.margin-item-left {
    left: -75px
}

.sound-clock.margin-item-right {
    right: 0;
    margin-right: -75px
}

audio {
    display: none
}

a.media {
    color: #2351fc
}

a.media:hover {
    color: #3b4c99
}

a.location {
    border: 0;
    background: url(../media/underline-jagged.svg) repeat-x;
    background-position: -45px 100%;
    padding-bottom: 1px;
    -webkit-animation: zoom-reset 1.0s ease-out 1
}

a.location:hover {
    border: 0;
    -webkit-animation: zooming .85s linear infinite
}

a.location:active {
    color: #fff
}

a.contextual-link,
a.contextual-link:visited {
    color: #1a47ff;
    border-bottom: none;
    -moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out
}

a.contextual-link:hover {
    color: #39499B;
    border-bottom: none
}

a.contextual-link:active {
    color: #fff
}

@-webkit-keyframes zoom-reset {
    to {
        background-position: 9px 100%
    }
}

@-webkit-keyframes zoom-in {
    to {
        background-position: 12px 100%
    }
}

@-webkit-keyframes zooming {
    to {
        background-position: 9px 100%
    }
}

a.contextual,
a.contextual:visited {
    color: #2351fc;
    border: none;
    -moz-transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out
}

a.contextual:hover {
    color: #3b4c99;
    border: none
}

a.contextual:active {
    color: #000;
    border: none
}

.margin-item-left {
    position: absolute
}

.margin-item-right {
    position: absolute
}

.birth-year-icon {
    background-image: url("../images/hover-time.gif");
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-position: 0 0;
    margin-top: 1px
}

.birth-year-icon.margin-item-left {
    left: -45px
}

.birth-year-icon.margin-item-right {
    right: 0;
    margin-right: -45px
}

.location-icon.margin-item-left {
    left: -50px
}

.location-icon.margin-item-right {
    right: 0;
    margin-right: -50px
}

.database-text.margin-item-left {
    left: -174px
}

.database-text.margin-item-right {
    right: -14px
}

a.alt-link {
    text-decoration: none;
    border-bottom: none
}

body.antihome a.alt-link {
    color: #000
}

body.home .alt-link {
    background: rgba(0, 0, 0, 0);
    border-bottom: 2px dashed #000
}

body.home .alt-link:hover {
    border-bottom: 2px solid #000
}

a.broken,
a.broken:hover,
a.broken:visited,
a.broken:active {
    color: #555;
    background: url(../images/broken-hypertext.svg);
    background-color: #EFEFEF;
    background-size: 100% 100%;
    border: none;
    border-bottom: 2px solid #EFEFEF;
    padding-top: 2px;
    -webkit-animation: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6
}

span.warning {
    z-index: 100;
    position: fixed;
    z-index: 500;
    top: 10px;
    right: 0px;
    background: #FFFF6E;
    color: #000;
    display: none;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 10px
}

#homepage-arrow-right {
    position: absolute;
    width: 72px;
    margin-left: 690px;
    margin-top: 274px
}

a.arrow-right {
    background: url("../images/retina/arrow-circle-right.png") no-repeat 0 0;
    height: 72px;
    width: 72px;
    display: block
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    a.arrow-right {
        background: url("../images/retina/full/arrow-circle-right.png") no-repeat 0 0 !important;
        -moz-background-size: 72px 216px;
        background-size: 72px 216px !important
    }
}

a.arrow-right:hover {
    background-position: 0 -72px
}

a.arrow-right:active {
    background-position: 0 -144px
}

a.arrow-left {
    background: url("../images/retina/arrow-circle-left.png") no-repeat 0 0;
    height: 72px;
    width: 72px;
    display: block
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    a.arrow-left {
        background: url("../images/retina/full/arrow-circle-left.png") no-repeat 0 0 !important;
        -moz-background-size: 72px 216px;
        background-size: 72px 216px !important
    }
}

a.arrow-left:hover {
    background-position: 0 -72px
}

a.arrow-left:active {
    background-position: 0 -144px
}

body.antihome a,
body.antihome .text-module a {
    color: #fff;
    border-color: #fff
}

body.antihome a:visited,
body.antihome .text-module a:visited {
    color: #fff;
    border-color: #fff
}

body.antihome a:hover,
body.antihome .text-module a:hover {
    border-color: #fff
}

body.antihome a:active,
body.antihome .text-module a:active {
    color: #000
}

body.antihome .text-hyphenate a {
    border-bottom: 2px dashed #fff
}

body.antihome a.profile {
    color: #000;
    background: #fff
}

body.antihome a.profile:active {
    color: #fff;
    background: #000
}

body.antihome a.birth-year,
body.antihome a.database a.birth-year:visited {
    color: #000;
    background: #ffff6e;
    border: 2px solid #ffff6e;
    -moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out
}

body.antihome a.birth-year:hover {
    background: #fdd0e1;
    border-color: #fdd0e1
}

body.antihome a.birth-year:active {
    color: #000
}

body.antihome a.graduation-year,
body.antihome a.database a.graduation-year:visited {
    color: #000;
    background: #2351fc;
    border: 2px solid #2351fc;
    -moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out
}

body.antihome a.graduation-year:hover {
    background: #3b4c99;
    border-color: #3b4c99
}

body.antihome a.graduation-year:active {
    color: #000
}

body.antihome a.database,
body.antihome a.database a.database:visited {
    border-bottom: 2px dashed #29E502;
    padding-top: 2px;
    -moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out
}

body.antihome a.database:hover {
    background: #29E502;
    color: #000;
    border-bottom: 2px dashed #000
}

body.antihome a.database:active {
    color: #fff;
    border-color: #fff
}

body.antihome a.media {
    color: #2351fc
}

body.antihome a.media:hover {
    color: #3b4c99
}

body.antihome a.location,
.google-balloon .title {
    border: 0;
    background: url(../images/underline-jagged.png) repeat-x;
    background-position: 0% 100%;
    padding-bottom: 1px;
    -webkit-animation: zoom-reset 0.6s ease-out 1
}

body.antihome a.location:hover {
    border: 0;
    -webkit-animation: zoom-in 0.5s ease-in 1, zooming .35s linear 0.5s infinite
}

body.antihome a.location:active {
    color: #fff
}

body.antihome a.contextual-link,
body.antihome a.database a.contextual-link:visited {
    color: #1a47ff;
    border-bottom: none;
    -moz-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out
}

body.antihome a.contextual-link:hover {
    color: #39499B;
    border-bottom: none
}

body.antihome a.contextual-link:active {
    color: #fff
}

body.antihome {
    background-color: #000
}

body.antihome a.header-image {
    background: url("../images/retina/yamp-logo-white.png") no-repeat 0 0
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    body.antihome a.header-image {
        background: url("../images/retina/full/yamp-logo-white.png") no-repeat 0 0 !important;
        -moz-background-size: 208px 127px;
        background-size: 208px 127px !important
    }
}

body.antihome,
body.antihome .justified-text,
body.antihome #navigation a {
    color: #fff
}

body.antihome #navigation a:hover .bullet {
    display: inline;
    color: #fff
}

body.antihome #navigation a:active {
    color: #fff
}

body.antihome .bullet {
    display: none
}

body.antihome #homepage-arrow-left {
    position: absolute;
    width: 72px;
    margin-left: -134px;
    margin-top: 274px
}

body.antihome a.arrow-left {
    background: url("../images/retina/arrow-circle-left-white.png") no-repeat 0 0
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    body.antihome a.arrow-left {
        background: url("../images/retina/full/arrow-circle-left-white.png") no-repeat 0 0 !important;
        -moz-background-size: 72px 216px;
        background-size: 72px 216px !important
    }
}

body.antihome a.arrow-left:hover {
    background-position: 0 -72px
}

body.antihome a.arrow-left:active {
    background-position: 0 -144px
}

body.antihome a.highlighted {
    background: #fff;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    color: #000;
    padding-top: 2px
}

body.antihome a.highlighted:hover {
    border-color: #fff
}

body.antihome a.highlighted:active {
    color: #fff;
    background-color: #000;
    border-color: #000
}

body.antihome .about-right {
    float: right
}

body.antihome .about-left {
    float: left
}

body.antihome .antihome-twitter {
    margin-right: 17px
}

body.antihome .antihome-twitter,
body.antihome .antihome-facebook {
    float: left
}

body.antihome a.button-facebook {
    background: url("../images/retina/icon-facebook-white@2x.png") no-repeat 0 0;
    border: none;
    font-size: 0px
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    body.antihome a.button-facebook {
        background: url("../images/retina/full/icon-facebook-white@2x.png") no-repeat 0 0 !important;
        -moz-background-size: 20px 40px;
        background-size: 20px 40px !important
    }
}

body.antihome a.button-facebook:hover {
    background-position: 0 -20px
}

body.antihome a.button-twitter {
    background: url("../images/retina/icon-twitter-white@2x.png") no-repeat 0 0;
    border: none;
    font-size: 0px
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    body.antihome a.button-twitter {
        background: url("../images/retina/full/icon-twitter-white@2x.png") no-repeat 0 0 !important;
        -moz-background-size: 22px 36px;
        background-size: 22px 36px !important
    }
}

body.antihome a.button-twitter:hover {
    background-position: 0 -19px
}

body.antihome a.button-facebook:active,
body.antihome a.button-twitter:active {
    background: none
}

body.antihome a.yamp-small {
    background: url("../images/retina/yamp-logo-small-white.png") no-repeat 0 0
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    body.antihome a.yamp-small {
        background: url("../images/retina/full/yamp-logo-small-white.png") no-repeat 0 0 !important;
        -moz-background-size: 42px 25px;
        background-size: 42px 25px !important
    }
}

body.antihome .form-block {
    font-size: 16px
}

body.antihome .form-block input {
    background: #000;
    color: #fff;
    border: 2px dashed #fff;
    font-size: 22px;
    font-weight: normal;
    padding: 5px
}

body.antihome .button-submit {
    height: 114px
}

body.antihome .button-submit input {
    margin-top: 14px;
    background: url(../images/button-submit-white.png) no-repeat;
    width: 95px;
    height: 95px;
    display: block;
    position: absolute;
    border: 0px none;
    color: #fff;
    font-size: 16px
}

body.antihome .button-submit input:hover {
    background-position: 0 -95px
}

body.antihome .button-submit input:active {
    background: none
}

body.antihome .blue-text a {
    color: #fff
}

body.antihome a.button:link,
body.antihome a.button:visited,
body.antihome .page-footer-module ul.logged-in a:link,
body.antihome .page-footer-module ul.logged-in a:visited {
    border: 1px solid #fff;
    -moz-box-shadow: 4px 4px 4px #fff;
    -webkit-box-shadow: 4px 4px 4px #fff;
    box-shadow: 4px 4px 4px #fff;
    background: #000;
    color: #fff
}

body.antihome a.button:active,
body.antihome .page-footer-module ul.logged-in a:active {
    margin-left: 4px;
    vertical-align: -4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 6px
}

body.antihome .page-footer-module li.hi {
    border-bottom: 2px dashed #fff
}

body.antihome .page-magic-module.announcement-module,
body.antihome .page-magic-module.mailing-list-module,
body.antihome ul#footer {
    margin-top: 80px
}

body.antihome .text-module .social-buttons {
    display: inline-block;
    padding: 3px;
    font-size: 0;
    line-height: 0;
    float: right
}

body.antihome .text-module .social-buttons a {
    float: left
}

body.antihome .text-module .social-buttons a.button-facebook {
    height: 20px;
    width: 20px
}

body.antihome .text-module .social-buttons a.button-twitter {
    height: 18px;
    width: 22px;
    margin-right: 10px
}

#profile-navigation a.current {
    background: #000;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 2px
}

#profile-navigation a:active {
    background: #000;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 2px
}

#profile-navigation #all-future-profiles-container a:active {
    color: #fff
}

#profile-navigation .profile-navigation-left-1 {
    position: absolute
}

#profile-navigation .profile-navigation-left-2 {
    position: absolute;
    margin-left: 110px
}

#profile-navigation .profile-navigation-right {
    float: right
}

#profile-navigation .profile-navigation-right a {
    background-color: #fdd0e1;
    padding-top: 2px
}

#profile-navigation .profile-navigation-right a:active {
    color: #fff;
    font-family: 'UniversNextW01-Regular', Arial, Helvetica, sans-serif
}

#profile-navigation span.profile-navigation-right a.current {
    color: #000;
    font-family: 'UniversNextW01-Regular', Arial, Helvetica, sans-serif
}

#all-profiles-container.portraits {
    margin: 30px -14px
}

#all-profiles-container.names {
    margin: 33px 0 0 110px;
    line-height: 29px
}

#all-profiles-container.names a {
    background: #000;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 2px
}

#all-profiles-container.names a:active {
    background: #fff;
    color: #000
}

#all-profiles-container .profile-container {
    padding-right: 14px
}

#all-profiles-container.names .profile-container {
    display: block;
    padding: 0
}

#all-future-profiles-container {
    text-align: right;
    line-height: 29px;
    margin-top: 26px
}

#all-future-profiles-container span.future-profile-name {
    background: #fdd0e1;
    padding-top: 2px
}

#all-future-profiles-container a.suggestions {
    background: none;
    border-bottom: 2px dashed #000;
    vertical-align: -26px
}

#all-future-profiles-container a.suggestions:hover {
    border-bottom: 2px solid #000
}

.portrait-wrapper {
    float: left;
    position: relative;
    width: 50%;
    margin-bottom: 14px
}

.portrait-wrapper .portrait {
    float: none;
    width: 100%
}

.portrait {
    float: left;
    position: relative;
    width: 50%;
    padding-left: 14px;
    margin-bottom: 14px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.portrait img {
    width: 100%;
    height: auto;
    display: block
}

.portrait-link {
    width: 100%
}

.profile-container .portrait a.portrait-link {
    font-size: 1000px
}

.portrait-text {
    background-color: #fdd0e1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    color: #000;
    padding: 14px;
    padding-bottom: 0
}

.portrait-text,
.portrait-link {
    margin-left: 14px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.portrait .portrait-text {
    -moz-transition: opacity 0.15s ease-in-out;
    -webkit-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out
}

.portrait:hover .portrait-text {
    display: block;
    cursor: pointer;
    opacity: 1.0;
    filter: alpha(opacity=100)
}

.portrait .name {
    background: #000;
    font-family: 'Univers Next W01 Bold';
    color: #fdd0e1;
    padding-top: 2px
}

.portrait:active .name {
    background: #fdd0e1;
    color: #000
}

.portrait-info {
    line-height: 31px
}

#profiles-selector {
    text-align: center;
    margin: 10px 0 30px
}

a.database.active span {
    display: inline;
    background: url(../images/dropdown-arrow.png) no-repeat right;
    padding-right: 16px;
    background-position: right 0
}

a.database.active span:hover {
    background-position: right -32px
}

span.active:hover .database-dropdown {
    display: block
}

ul.database-dropdown {
    display: none;
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100%;
    left: 0
}

ul.database-dropdown a.database {
    background: #fff
}

ul.database-dropdown a.database:hover {
    background: #29E502
}

span.margin-item ul.database-dropdown {
    display: block;
    font-size: 16px;
    line-height: 20px;
    width: 162px
}

span.margin-item ul.database-dropdown a.database:hover {
    background: #fff
}

span.margin-item-right ul.database-dropdown {
    text-align: left
}

span.margin-item-left ul.database-dropdown {
    text-align: right
}

span.margin-item ul.database-dropdown li a {
    color: #29E502;
    background-color: #fff;
    border-bottom: none
}

span.margin-item ul.database-dropdown li a:hover {
    color: #000;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    transition: color 0.25s
}

span.margin-item ul.database-dropdown li a:active {
    color: #fff
}

a.bg-color-white {
    background-color: #ffffff !important;
    color: #000 !important;
    padding-top: 2px;
    border-bottom: 2px solid #ffffff !important;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif
}

a.bg-color-yellow {
    background-color: #ffff6e !important;
    color: #000 !important;
    padding-top: 2px;
    border-bottom: 2px solid #ffff6e !important;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif
}

a.bg-color-blue {
    background-color: #2351fc !important;
    color: #fff !important;
    padding-top: 2px;
    border-bottom: 2px solid #2351fc !important;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif
}

a.bg-color-reddish {
    background-color: #ffd0c3 !important;
    color: #000 !important;
    padding-top: 2px;
    border-bottom: 2px solid #ffd0c3 !important;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif
}

a.bg-color-green {
    background-color: #29E502 !important;
    color: #000 !important;
    padding-top: 2px;
    border-bottom: 2px solid #29E502 !important;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif
}

a.bg-color-lightyellow {
    background-color: #fffec7 !important;
    color: #000 !important;
    padding-top: 2px;
    border-bottom: 2px solid #fffec7 !important;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif
}

a.bg-color-magenta {
    background-color: #cd00e3 !important;
    color: #000 !important;
    padding-top: 2px;
    border-bottom: 2px solid #cd00e3 !important;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif
}

a.bg-color-white:hover {
    border-color: #ffffff
}

a.bg-color-yellow:hover {
    border-color: #ffff6e
}

a.bg-color-blue:hover {
    border-color: #2351fc
}

a.bg-color-reddish:hover {
    border-color: #ffd0c3
}

a.bg-color-green:hover {
    border-color: #29E502
}

a.bg-color-lightyellow:hover {
    border-color: #fffec7
}

a.bg-color-magenta:hover {
    border-color: #cd00e3
}

a.bg-color-white:active {
    background: #000 !important;
    color: #fff !important;
    border-color: #000 !important
}

a.bg-color-yellow:active {
    background: #000 !important;
    color: #ffff6e !important;
    border-color: #000 !important
}

a.bg-color-blue:active {
    background: #fff !important;
    color: #2351fc !important;
    border-color: #fff !important
}

a.bg-color-reddish:active {
    background: #000 !important;
    color: #ffd0c3 !important;
    border-color: #000 !important
}

a.bg-color-green:active {
    background: #000 !important;
    color: #29E502 !important;
    border-color: #000 !important
}

a.bg-color-lightyellow:active {
    background: #000 !important;
    color: #fffec7 !important;
    border-color: #000 !important
}

a.bg-color-magenta:active {
    background: #000 !important;
    color: #cd00e3 !important;
    border-color: #000 !important
}

body.lightbox-form {
    background: #fdd0e1
}

.form-description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px
}

#form-default {
    background: #fdd0e1;
    margin-bottom: 16px
}

.form-wrapper-main {
    padding: 14px;
    padding-top: 0
}

.form-wrapper {
    margin-left: -14px
}

.form-block {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.form-block.whole {
    width: 100%;
    margin-top: 1em
}

.form-whole {
    width: 100%;
    padding-left: 14px
}

.form-block.half {
    width: 48%
}

.form-block.half.first {
    margin-right: 4%
}

.form-block.quarter {
    width: 25%
}

.form-block.form-whole.interested-in {
    padding-left: 0;
    margin: 1em 0
}

.form-giant {
    width: 630px;
    height: 160px;
    margin-bottom: 72px
}

.form-block input {
    background: transparent;
    color: #000;
    border: 2px dashed #000;
    font-size: 22px;
    font-weight: normal;
    padding: 5px
}

.button-submit input {
    margin-top: 14px;
    background: url(../images/button-submit-black.png) no-repeat;
    width: 95px;
    height: 95px;
    display: block;
    position: absolute;
    border: 0px none;
    color: #000;
    font-size: 16px
}

.button-submit {
    width: 95px;
    margin: 0px auto;
    margin-top: 8px
}

a.button-submit,
a.button-submit-white {
    background: url(../images/button-submit-black.png) no-repeat;
    width: 95px;
    height: 95px;
    display: block;
    position: absolute
}

a.button-submit-white {
    background: url(../images/button-submit-white.png) no-repeat
}

a.button-submit-text {
    position: absolute;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 95px;
    margin: 0px auto;
    margin-top: 46px;
    padding-left: 1px;
    z-index: -1
}

a.button-submit:hover,
a.button-submit-white:hover {
    background-position: 0 -95px
}

a.button-submit:active,
a.button-submit-white:active {
    background: none
}

.checkbox-group {
    margin: 20px 0
}

.checkbox-group input {
    float: left
}

.csschecked .checkbox-group input {
    display: none
}

.csschecked body.antihome .checkbox-group ul>li>:checked+:hover,
.csschecked body.antihome .checkbox-group ul>li>:checked+label,
.csschecked body.antihome .checkbox-group ul>li>label:hover,
.csschecked body.antihome .checkbox-group ul>li>label {
    background: url("../images/checkboxes-white.png") no-repeat
}

.csschecked body.antihome .checkbox-group ul>li>:checked+:hover,
.csschecked body.antihome .checkbox-group ul>li>:checked+label {
    background-size: 16px 32px;
    background-position: 0 -16px
}

.csschecked .checkbox-group ul>li>:checked+:hover,
.csschecked .checkbox-group ul>li>:checked+label {
    background: url("../images/checkboxes.png") no-repeat;
    background-size: 16px 32px;
    background-position: 0 -16px
}

.csschecked .checkbox-group ul>li>label:hover,
.csschecked .checkbox-group ul>li>label {
    background: url("../images/checkboxes.png") no-repeat left top;
    background-size: 16px 32px;
    height: 16px;
    display: inline-block;
    padding: 0px 0px 0px 30px;
    line-height: 18px;
    font-size: 22px;
    cursor: pointer
}

#individual-profile-navigation {
    font-size: 14px;
    line-height: 16px;
    width: 140px;
    position: absolute;
    left: 10px;
    top: 225px
}

#individual-profile-navigation li {
    margin-top: 8px
}

#individual-profile-navigation .category {
    color: #3b4c99
}

#individual-profile-navigation .social-mega-container {
    margin: -8px 0 0 -2px
}

#individual-profile-navigation a.button-facebook {
    background: url("../images/retina/icon-facebook-profile.png") no-repeat 0 0;
    display: block
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    #individual-profile-navigation a.button-facebook {
        background: url("../images/retina/full/icon-facebook-profile.png") no-repeat 0 0 !important;
        -moz-background-size: 20px 40px;
        background-size: 20px 40px !important
    }
}

#individual-profile-navigation a.button-facebook:hover {
    background-position: 0 -20px
}

#individual-profile-navigation a.button-twitter {
    background: url("../images/retina/icon-twitter-profile.png") no-repeat 0 0;
    display: block
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    #individual-profile-navigation a.button-twitter {
        background: url("../images/retina/full/icon-twitter-profile.png") no-repeat 0 0 !important;
        -moz-background-size: 22px 36px;
        background-size: 22px 36px !important
    }
}

#individual-profile-navigation a.button-twitter:hover {
    background-position: 0 -18px
}

#individual-profile-navigation a.button-facebook:active,
#individual-profile-navigation a.button-twitter:active {
    background: none
}

#individual-profile-navigation .social-container,
.social-container {
    display: inline-block;
    padding: 3px;
    font-size: 0;
    line-height: 0
}

#profile-main-portrait {
    width: 308px;
    height: 349px;
    margin: 0px auto
}

#profile-mini-bio p.title {
    margin-top: 60px
}

.sidebar-database {
    position: absolute;
    width: 162px;
    text-align: right;
    margin: -144px 0 0 -182px
}

.sidebar-database a {
    color: #29E502;
    font-size: 16px
}

.sidebar-database a:hover {
    color: #000;
    -o-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -webkit-transition: color 0.25s;
    transition: color 0.25s
}

ul.sidebar-database {
    line-height: 16px
}

.reminisce-credit {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    position: absolute;
    margin-top: 0;
    margin-left: -245px;
    width: 400px;
    height: 0;
    overflow: visible;
    text-align: left
}

#profile-end-left,
#profile-end-right {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    padding-right: 14px
}

#profile-end-right {
    min-height: 180px
}

#profile-end-left {
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    width: 50%
}

#profile-end-left a.button-facebook,
.essay-end-block a.button-facebook,
.shop-product-share a.button-facebook {
    background: url("../images/retina/icon-facebook-black.png") no-repeat 0 0;
    border: none
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    #profile-end-left a.button-facebook,
    .essay-end-block a.button-facebook,
    .shop-product-share a.button-facebook {
        background: url("../images/retina/full/icon-facebook-black.png") no-repeat 0 0 !important;
        -moz-background-size: 20px 40px;
        background-size: 20px 40px !important
    }
}

#profile-end-left a.button-facebook:hover,
.essay-end-block a.button-facebook:hover,
.shop-product-share a.button-facebook:hover {
    background-position: 0 -20px
}

#profile-end-left a.button-twitter,
.essay-end-block a.button-twitter,
.shop-product-share a.button-twitter {
    background: url("../images/retina/icon-twitter-black.png") no-repeat 0 0;
    border: none
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 192dpi) {
    #profile-end-left a.button-twitter,
    .essay-end-block a.button-twitter,
    .shop-product-share a.button-twitter {
        background: url("../images/retina/full/icon-twitter-black.png") no-repeat 0 0 !important;
        -moz-background-size: 22px 36px;
        background-size: 22px 36px !important
    }
}

#profile-end-left a.button-twitter:hover,
.essay-end-block a.button-twitter:hover,
.shop-product-share a.button-twitter:hover {
    background-position: 0 -18px
}

#profile-end-left .download-the-pdf {
    margin-top: 30px
}

a.icon-pdf {
    background: url(../images/icon-pdf.png) no-repeat 0 0;
    display: block;
    height: 169px;
    width: 127px;
    margin-bottom: 8px;
    font-size: 0;
    line-height: 0
}

a.icon-pdf:hover {
    background-position: 0 -169px
}

a.icon-pdf:active {
    background-position: 0 -338px
}

.join-us-block {
    margin-left: 14px
}

#profile-end-right .profile-container {
    margin-left: 7px
}

#profile-end-right .profile-container,
.join-us-block {
    background-color: #fdd0e1;
    vertical-align: top
}

#profile-end-right .profile-container:hover,
.join-us-block:hover {
    background: #ffff6e;
    -o-transition: background 0.25s;
    -ms-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -webkit-transition: background 0.25s;
    transition: background 0.25s
}

#profile-end-right .profile-container:active,
.join-us-block:active {
    color: #fff
}

#profile-end-right,
.join-us-block-wrapper {
    display: inline-block;
    width: 50%;
    position: relative
}

#profile-end-right::after,
.join-us-block-wrapper::after {
    padding-top: 112.75%;
    display: block;
    content: ''
}

#profile-end-right .profile-container,
.join-us-block-wrapper .join-us-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 14px
}

.related-profiles {
    text-align: center;
    margin: 60px 0 15px
}

.profile-relation {
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-left: 14px;
    display: block
}

div.see-all-profiles {
    text-align: center;
    margin-top: 40px
}

body.timeline {
    background: #fffec7
}

body.timeline h3 {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 -1.4em 24px
}

body.timeline a.profile {
    color: #fffec7
}

body.timeline a.profile:active {
    color: #000;
    background-color: #fffec7;
    border-color: #fffec7
}

body.timeline a.birth-year {
    background: #fff;
    border-color: #fff
}

body.timeline a.birth-year:hover {
    background: #fdd0e1;
    border-color: #fdd0e1;
    -o-transition: border-color 0.25s, background 0.25s;
    -ms-transition: border-color 0.25s, background 0.25s;
    -moz-transition: border-color 0.25s, background 0.25s;
    -webkit-transition: border-color 0.25s, background 0.25s;
    transition: border-color 0.25s, background 0.25s
}

body.timeline .timeline-row {
    width: 630px;
    border-top: 1px solid #000;
    padding-bottom: 3px
}

body.timeline .timeline-header {
    width: 630px;
    margin-top: 6px
}

body.timeline .timeline-header:hover {
    cursor: pointer
}

body.timeline .timeline-row:last-child {
    border-bottom: 1px solid #000
}

body.timeline .timeline-row:first-child {
    margin-top: 10px
}

body.timeline h2.timeline-title {
    vertical-align: 18px
}

body.timeline .timeline-body {
    display: none;
    vertical-align: 18px;
    padding: 30px 0 20px
}

body.timeline #page-layout {
    position: relative;
    top: -32px
}

body.timeline .essay-module.page-magic-module {
    margin: 0 28% 5px 28%
}

body.timeline .expand-collapse-module-layout-table,
body.timeline .expand-collapse-module-layout-table tr,
body.timeline .expand-collapse-module-layout-table td {
    border: 0 none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    vertical-align: top
}

.expand-collapse-module-layout-table #profiles-selector {
    display: none
}

body.timeline .expand-collapse-module-layout-table {
    width: 100%
}

body.timeline .expand-collapse-module-area .page-magic-module {
    padding-bottom: 40px;
    margin-bottom: 0
}

body.timeline .expand-collapse-module-area .page-magic-module.first {
    padding-top: 26px
}

body.timeline .expand-collapse-module-area .page-magic-module.last {
    padding-bottom: 48px
}

body.timeline .expand-collapse-module-area .page-magic-module.text-module {
    margin-left: 0;
    margin-right: 0
}

body.timeline #edit-page .expand-collapse-module-layout-table {
    margin: 0;
    padding: 15px 0 15px 0;
    position: relative;
    border-bottom: 2px solid #000
}

body.timeline #view-page .expand-collapse-module-layout-table:first {
    border-top: 1px solid #000
}

body.timeline .expand-collapse-module-content-column {
    border-bottom: 1px solid
}

body.timeline #view-page .expand-collapse-module-outside {
    padding-left: 1em
}

body.timeline #view-page .expand-collapse-module-header {
    position: relative;
    cursor: pointer;
    margin-left: -1em;
    padding-bottom: 18px;
    overflow: hidden;
    clear: both;
    margin-bottom: 6px
}

body.timeline td.expand-collapse-module-content-column {
    border-bottom: 1px solid
}

body.timeline h2.essay-title {
    line-height: 32px
}

body.timeline h2.essay-module {
    border-top: 1px solid #000
}

body.timeline .text-module h2 {
    font-family: 'Univers Next 830 Black', 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    margin: 0 0 -4px 24px;
    font-size: 16px;
    letter-spacing: normal;
    text-align: left
}

body.timeline span.margin-item ul.database-dropdown li a {
    background: #fffec7
}

body.timeline span.margin-item ul.database-dropdown li a:hover {
    background: #fffec7
}

.card-container {
    width: 490px;
    max-width: 100%;
    margin: 60px auto
}

.card-divider {
    clear: both;
    margin-bottom: 20px
}

.card {
    width: 490px;
    height: 270px;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden
}

.card:hover {
    cursor: pointer
}

.card a.profile-source:link,
.card a.profile-source:visited {
    border-bottom: 1px dashed;
    padding-bottom: 0
}

.card a.profile-source:hover {
    border-bottom: 1px solid
}

.card-container p {
    padding: 30px;
    font-family: courier new, courier, monospace;
    font-size: 17px;
    line-height: 24px
}

.card-container i {
    font-family: courier new, courier, monospace;
    font-style: italic
}

.card-yellow {
    background-color: #ffff6e;
    color: #000;
    border: 1px solid #000
}

.card-yellow:active {
    background-color: #000;
    color: #ffff6e;
    border: 1px solid #ffff6e
}

.card-yellow:active a:link,
.card-yellow:active a:visited {
    color: #ffff6e;
    border-color: #ffff6e
}

.card-blue {
    background-color: #fff;
    color: #2351fc;
    border: 1px solid #2351fc
}

.card-blue:active {
    background-color: #2351fc;
    color: #fff;
    border: 1px solid #fff
}

.card-blue a:link,
.card-blue a:visited {
    color: #2351fc;
    border-color: #2351fc
}

.card-blue:active a:link,
.card-blue:active a:visited {
    color: #fff;
    border-color: #fff
}

.card-reddish {
    background-color: #ffd0c3;
    color: #000;
    border: 1px solid #000
}

.card-reddish:active {
    background-color: #000;
    color: #ffd0c3;
    border: 1px solid #ffd0c3
}

.card.card-reddish a:active,
.card-reddish:active a:link,
.card-reddish:active a:visited {
    color: #ffd0c3;
    border-color: #ffd0c3
}

.card-green {
    background-color: #0f0;
    color: #000;
    border: 1px solid #000
}

.card-green:active {
    background-color: #000;
    color: #0f0;
    border: 1px solid #0f0
}

.card.card-green a:active,
.card-green:active a:link,
.card-green:active a:visited {
    color: #0f0;
    border-color: #0f0
}

.card-lightyellow {
    background-color: #fffec7;
    color: #000;
    border: 1px solid #000
}

.card-lightyellow:active {
    background-color: #000;
    color: #fffec7;
    border: 1px solid #fffec7
}

.card.card-lightyellow a:active,
.card-lightyellow:active a:link,
.card-lightyellow:active a:visited {
    color: #fffec7;
    border-color: #fffec7
}

.card-magenta {
    background-color: #fff;
    color: #cd00e3;
    border: 1px solid #cd00e3
}

.card-magenta:active {
    background-color: #cd00e3;
    color: #fff;
    border: 1px solid #fff
}

.card.card-magenta a:link,
.card.card-magenta a:visited {
    color: #cd00e3;
    border-color: #cd00e3
}

.card.card-magenta a:active,
.card-magenta:active a:link,
.card-magenta:active a:visited {
    color: #fff;
    border-color: #fff
}

.card .byline-and-profile {
    display: none
}

.card:hover .byline-and-profile {
    display: block;
    padding: 30px;
    font-family: courier new, courier, monospace;
    font-size: 17px;
    line-height: 24px
}

.card:hover p.first-child {
    display: none
}

.card-module .card:hover p.first-child {
    display: block
}

.page-group-Profiles .card:hover p {
    display: none !important
}

.page-groups-Profiles .card-hidden {
    display: none;
    margin-top: -10px
}

.page-groups-Profiles .card:hover .card-hidden {
    display: block
}

.page-path-Cards .page-header-module {
    margin-bottom: 10px
}

.page-path-Cards .card-container {
    margin: 0 auto 20px
}

#jump-link-markers,
#jump-link-markers * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

#jump-link-markers {
    position: fixed;
    top: 0;
    right: 0;
    width: 31px;
    height: 100%;
    font-size: 14px;
    text-align: right;
    z-index: 595
}

#jump-link-markers li {
    position: absolute;
    height: 21px;
    right: 12px !important
}

.jump-link-container {
    background: transparent url(../images/tab-start.png) no-repeat 0 0;
    background-position: 0 -21px;
    display: block;
    line-height: 20px;
    padding: 1px 4px 0 6px;
    color: #000;
    overflow: hidden
}

.tab-container a.tab:hover .jump-link-container {
    background-position: 0 -42px
}

.tab-container.active a.tab .jump-link-container {
    background: #000;
    color: #fff
}

.tab-container a.tab {
    background: transparent url(../images/tab-end.png) no-repeat top right;
    background-position: right -21px;
    display: block;
    height: 21px;
    margin-right: -12px;
    padding-right: 11px;
    float: right
}

.tab-container a.tab:hover {
    background-position: right -42px
}

.tab-container.active a.tab {
    background-position: right 0
}

.jump-link-container .jump-link-text {
    white-space: nowrap
}

.jump-link-container.hidden {
    height: 20px
}

.jump-link-container.hidden .jump-link-text {
    visibility: hidden
}

body.news {
    min-width: 980px
}

.news-column h2 a,
.news-column.next a {
    border-bottom: 2px dashed #000
}

.news-column h2 a:hover,
.news-column.next a:hover {
    border-bottom: 2px solid #000
}

.news-column.next {
    margin-top: 80px
}

.news-column h2 a:active {
    color: #fff
}

.news-date {
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    width: 140px;
    float: left
}

a.add-to-cart-button {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    background: #fff;
    border: 1px solid #000;
    -moz-box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000
}

a.add-to-cart-button:active {
    margin-left: 4px;
    vertical-align: -4px;
    color: #000;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.related-products-module:before,
.related-products-module:after {
    content: "";
    display: table
}

.related-products-module:after {
    clear: both
}

.related-products-module .shop-col {
    padding: 0;
    width: 31.66667%;
    margin-right: 2.5%
}

.related-products-module .shop-col:nth-child(3n) {
    margin-right: 0
}

.thank-you {
    margin-top: 40px;
    font-size: 16px;
    line-height: 20px
}

.thank-you h3 {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 2px dashed #000;
    padding-bottom: 2px;
    margin-bottom: 20px
}

#donate-button {
    text-align: center;
    margin-bottom: 85px
}

#donate-button a {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    background: #ffff6e;
    border: 1px solid #000;
    -moz-box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    box-shadow: 4px 4px 4px #000
}

#donate-button a:active {
    margin-left: 4px;
    vertical-align: -4px;
    color: #000;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.donors-block {
    width: 190px;
    margin-right: 20px;
    float: left
}

body.donate .list-module-wrapper .list li {
    padding-left: 15px;
    text-indent: -15px
}

.join-us-blocks {
    margin-top: 55px
}

.join-us-grid-wrapper {
    margin-left: -14px;
    overflow: hidden;
    clear: both
}

.join-us-block-wrapper {
    width: 50%;
    float: left;
    padding-left: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.join-us-block {
    padding: 14px
}

.suggestion-info {
    clear: both;
    padding-top: 20px
}

#profile_proposal_yale_affiliation {
    width: 100%
}

.search-results {
    margin: 40px 0
}

.search-result {
    cursor: pointer
}

.search-result:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9
}

.search-column {
    width: 630px;
    margin: 0 auto 50px
}

.search-column .highlight {
    border: 2px solid #FFFF6E;
    background: #FFFF6E
}

.search-column img {
    width: 105px;
    height: auto;
    float: left;
    margin-right: 20px
}

.search-column p {
    margin-top: 4px
}

.search-column h2 a {
    border-bottom: 2px dashed #000
}

.search-column h2 a:hover {
    border-bottom: 2px solid #000
}

.search-column h2 a:active {
    color: #fff
}

.search-column h2 a.profile:active {
    color: #000;
    border-color: #fff
}

.search-type {
    font-family: 'Univers Next W01 Bold', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    width: 140px;
    float: left
}

body#tinymce {
    margin: 7px !important;
    font-family: arial, helvetica, sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 18px
}

body#tinymce strong,
body#tinymce b {
    font-weight: bold
}

body#tinymce a:link {
    color: #000;
    text-decoration: underline
}

body#tinymce a:visited {
    color: #000;
    text-decoration: underline
}

body#tinymce a:hover {
    color: #000;
    text-decoration: underline
}

body#tinymce a:active {
    color: #000;
    text-decoration: underline
}

.editable-interior {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px
}

.edit-form-area-div ul {
    list-style-type: disc;
    margin: 0 0 0 20px
}

table.paginated-view {
    font-family: Arial
}

#layout-modules .page-magic-module button.create-button {
    margin-right: 4px
}

.page-magic-module.pages-admin-module button {
    font-size: 14px;
    margin-bottom: 5px;
    font-family: Arial
}

#MB_frame {
    font-size: 14px;
    font-family: Arial
}

.login-module-form {
    display: inline-block;
    width: auto
}

body.profiles-map {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute
}

.page-path-Profiles-Map {
    overflow: hidden
}

#map_canvas {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 10
}

.page-path-Profiles-Map .google-balloon {
    font-size: 16px;
    line-height: 22px;
    max-width: 350px;
    margin-bottom: 30px
}

.page-path-Profiles-Map .google-balloon div {
    font-family: Courier New, Courier, mono-space !important
}

.page-path-Profiles-Map .google-balloon div,
.page-path-Profiles-Map .google-balloon a,
.page-path-Profiles-Map .google-balloon span {
    font-size: 16px
}

.page-path-Profiles-Map li {
    list-style-type: disc;
    margin-left: 1em
}

.page-path-Profiles-Map .born-here {
    margin-bottom: 1em
}

.page-path-Profiles-Map .born-here h2 {
    font-size: 16px
}

.page-path-Profiles-Map .born-here ul li a {
    font-family: "Courier New", Courier, monospace;
    line-height: 18px;
    display: inline-block;
    vertical-align: baseline
}

.page-path-Profiles-Map a span.profile-name {
    font-family: Courier;
    color: #fff;
    background: #000;
    vertical-align: bottom
}

.page-path-Profiles-Map a span.grad-year {
    font-family: "Courier New", Courier, monospace;
    color: #fff;
    background: #2351fc
}

.page-path-Profiles-Map .next-place a {
    font-family: "Courier New", Courier, monospace
}

.page-path-Profiles-Map a.birth-year {
    border: 0px;
    padding: 0px;
    vertical-align: 1px
}

.page-path-Profiles-Map a.graduation-year {
    border: 0px;
    padding: 0px;
    vertical-align: 1px
}

.page-path-Profiles-Map .google-balloon .title {
    font-size: 22px;
    font-family: 'UniversNextW01-Regular', Arial, Helvetica, sans-serif !important;
    text-align: left;
    letter-spacing: normal;
    text-transform: none;
    line-height: 26px;
    display: inline-block
}

.page-path-Profiles-Map #top-right-yamp-permanent {
    display: none
}

.page-path-Profiles-Map .image {
    margin: 30px 0 30px
}

.page-path-Profiles-Map .next-place {
    margin-top: 30px
}

.page-path-Profiles-Map #scrollbar_content {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.page-path-Profiles-Map #scrollbar_track {
    right: -47px;
    display: none
}

.page-path-Profiles-Map .gm-style-iw,
.page-path-Profiles-Map .gm-style-iw>div {
    overflow: visible !important
}

.page-path-Profiles-Map .gm-style-iw {
    margin-top: 0 !important;
    width: 102% !important
}

.page-path-Profiles-Map .map-footer {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -92px;
    z-index: 100
}

.page-path-Profiles-Map .map-footer a {
    color: #2351fc
}

::selection {
    background: #ffff6e
}

::-moz-selection {
    background: #ffff6e
}

body.antihome::selection {
    background: #fff;
    color: rgba(0, 0, 0, 0.6)
}

body.antihome::-moz-selection {
    background: #fff;
    color: rgba(0, 0, 0, 0.6)
}

@media screen and (min-width: 1460px) {
    body,
    .text-module h2,
    .mailing-list-module h2 {
        font-size: 25px;
        line-height: 34px
    }
    #homepage-arrow-right {
        margin-left: 50%
    }
    .page-magic-module .text-module {
        margin-bottom: 65px
    }
    ul#footer {
        margin: 80px auto
    }
    #profile-navigation .profile-navigation-left-2,
    div#all-profiles-container.names {
        margin-left: 130px;
        line-height: 32px
    }
    #all-future-profiles-container {
        line-height: 32px;
        margin-top: 32px
    }
    #left-image-column {
        left: 20px
    }
    #right-image-column {
        right: 20px
    }
    .video-module {
        max-width: 1100px
    }
}

@media screen and (max-width: 1440px) {
    .page-magic-module,
    .static-magic-module,
    #create-page {
        max-width: 630px;
        margin: 0 auto 45px
    }
    body.timeline #view-page .essay-module {
        margin: 0 auto 5px;
        max-width: 630px
    }
    body.timeline #page-layout {
        position: relative;
        top: -32px
    }
    #left-image-column {
        left: 20px
    }
    #right-image-column {
        right: 20px
    }
    .right-float-image-module,
    .left-float-image-module {
        margin: 0 0 20px
    }
}

@media screen and (max-width: 1040px) {
    .reminisce-credit {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0);
        position: relative;
        margin: 0 0 1em 0 !important;
        height: auto;
        max-width: 100%
    }
}

@media screen and (max-width: 800px) {
    body.timeline #page-layout {
        top: 30px
    }
    body.timeline #back-button {
        top: -57px
    }
    body.cards #layout-modules {
        margin-top: 80px
    }
    #homepage-arrow-right,
    body.antihome #homepage-arrow-left {
        position: relative;
        margin: 0px auto
    }
    body.home #header-image-wrapper {
        margin-bottom: 45px
    }
}

@media screen and (max-width: 670px) {
    .page-magic-module,
    .static-magic-module,
    #create-page {
        min-width: 100%
    }
    body {
        margin: 0 20px
    }
    #edit-page-content {
        margin-left: -20px
    }
    body.profiles-map {
        margin: 0
    }
    body.timeline #back-button {
        left: 0
    }
    #navigation {
        display: none;
        position: static;
        margin-top: 15px
    }
    #navigation .home-link {
        display: list-item
    }
    #navigation,
    #navigation li h1 {
        font-weight: normal;
        font-size: 22px;
        line-height: 26px
    }
    #navigation.active {
        display: block !important
    }
    #navigation ul {
        margin-top: 17px
    }
    .menu-arrow {
        display: block;
        width: 11px;
        height: 9px;
        margin-bottom: -9px;
        background: url("../images/retina/menu-arrow.png") no-repeat 0 0
    }
    .menu-arrow.active {
        background-position: 0 -9px
    }
    body.antihome .menu-arrow {
        background: url("../images/retina/menu-arrow-white.png") no-repeat 0 0
    }
    #top-right-yamp,
    #top-right-yamp.active {
        display: none
    }
    .page-header-module #header-image {
        height: 100px;
        width: 164px;
        margin: 20px auto;
        background-size: 164px 100px
    }
    #individual-profile-navigation {
        position: relative;
        left: 0;
        top: 20px
    }
    #individual-profile-navigation,
    .portrait-module .content {
        display: inline-block;
        *display: inline;
        zoom: 1
    }
    #footer {
        margin-bottom: 164px
    }
    #footer li.stretch {
        display: none
    }
    #footer li {
        display: block;
        text-align: center
    }
    #footer li.social {
        display: inline-block
    }
    #footer .social-footer-buttons {
        display: block;
        width: 54px;
        margin: 0px auto
    }
    #footer li.button-container,
    .social-footer-buttons a.button-twitter,
    .social-footer-buttons a.button-facebook {
        margin: 20px auto
    }
    #footer li.button-container {
        margin-bottom: 30px
    }
    #bottom-yamp-mobile {
        display: block
    }
    #jump-link-markers {
        display: none
    }
    ul.database-dropdown {
        width: 100%
    }
    a.database.active span {
        background-position: right -4px
    }
    .margin-item-left {
        display: none
    }
    .margin-item-right {
        display: none
    }
    .video-module {
        max-width: 100%
    }
    #mmi_582.antihome {
        display: none !important
    }
}

@media screen and (max-width: 670px) and (-webkit-min-device-pixel-ratio: 1.5),
screen and (max-width: 670px) and (min-resolution: 192dpi) {
    .menu-arrow {
        background: url("../images/retina/full/menu-arrow.png") no-repeat 0 0 !important;
        -moz-background-size: 11px 18px;
        background-size: 11px 18px !important
    }
}

@media screen and (max-width: 670px) and (-webkit-min-device-pixel-ratio: 1.5),
screen and (max-width: 670px) and (min-resolution: 192dpi) {
    body.antihome .menu-arrow {
        background: url("../images/retina/full/menu-arrow-white.png") no-repeat 0 0 !important;
        -moz-background-size: 11px 18px;
        background-size: 11px 18px !important
    }
}

@media screen and (max-width: 480px) {
    input,
    textarea {
        -webkit-border-radius: 0
    }
    body,
    .text-module h2,
    .mailing-list-module h2,
    h2.title,
    h2.essay-title,
    h2.announcement-title,
    .search-results-module h2,
    .search-results-module ul {
        font-size: 18px;
        line-height: 26px
    }
    #navigation,
    #navigation li h1 {
        font-size: 22px;
        line-height: 26px
    }
    #top-right-yamp-permanent {
        display: none
    }
    #profile-navigation .profile-navigation-left-2,
    div#all-profiles-container.names {
        margin-left: 85px
    }
    div#all-profiles-container.names {
        line-height: 24px
    }
    .portrait-text .name {
        line-height: normal
    }
    .portrait-text .portrait-info {
        display: none
    }
    #profile-end-right {
        line-height: 22px
    }
    .page-footer-module li.admin-area {
        display: block;
        margin-top: 26px
    }
    .admin-button-row {
        margin-bottom: 40px
    }
    body.timeline .text-module h2 {
        margin-top: -10px;
        font-size: 14px
    }
    img {
        max-width: 100%;
        height: auto
    }
    #map_canvas img {
        max-width: none
    }
    .page-path-Profiles-Map .google-balloon {
        max-width: 200px
    }
    .form-block.half {
        width: 100%
    }
    #scrollbar_content {
        max-height: 150px !important
    }
    .google-balloon {
        max-width: 250px
    }
    .google-balloon .title {
        font-size: 18px;
        line-height: 25px !important
    }
    .csschecked .checkbox-group ul>li>label:hover,
    .csschecked .checkbox-group ul>li>label {
        font-size: 18px
    }
    .search-results-module .result-container .result {
        display: block;
        width: auto
    }
    .list-module .list {
        float: none;
        padding-bottom: 0;
        width: 100%
    }
    .list-module .list+.list {
        padding-top: 0
    }
    .non-mobile {
        display: none
    }
    .margin-item-left {
        display: none
    }
    .margin-item-right {
        display: none
    }
    .button-submit-text {
        margin-top: -13px;
        margin-left: -23px
    }
    #back-button {
        left: 20px
    }
    #navigation li:hover .bullet {
        display: none
    }
}

@media screen and (min-width: 481px) {
    .mobile-only {
        display: none
    }
}

html.ie8 .mobile-only,
html.ie7 .mobile-only {
    display: none
}

html.ie8 #jump-link-markers,
html.ie7 #jump-link-markers {
    display: none
}

html.ie8 .jump-link-container,
html.ie7 .jump-link-container {
    background: none
}

html.ie8 .text,
html.ie7 .text {
    line-height: 31px
}

html.ie8 .slideshow-module.visible-slideshow .middle-zone,
html.ie7 .slideshow-module.visible-slideshow .middle-zone {
    cursor: auto !important
}
body {
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

#container {
  width: 500px;
  margin: auto;
}
/*neeeeoooon*/

p {
  text-align: center;
  font-size: 7em;
  margin: 20px 0 20px 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p:nth-child(1) a {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

p:nth-child(1) a:hover {
  color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

p:nth-child(2) a {
  font-size: 1.5em;
  color: #228DFF;
  font-family: Iceland;
}

p:nth-child(2) a:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

p:nth-child(3) a {
  color: #FFDD1B;
  font-family: Pacifico;
}

p:nth-child(3) a:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

p:nth-child(4) a {
  color: #B6FF00;
  font-family: PressStart;
  font-size: 0.8em;
}

p:nth-child(4) a:hover {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

p:nth-child(5) a {
  color: #FF9900;
  font-family: Audiowide;
}

p:nth-child(5) a:hover {
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  -moz-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
}

p:nth-child(6) a {
  color: #BA01FF;
  font-family: Vampiro One;
}

p:nth-child(6) a:hover {
  -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
  -moz-animation: neon6 1.5s ease-in-out infinite alternate;
  animation: neon6 1.5s ease-in-out infinite alternate;
}

p a:hover {
  color: #ffffff;
}
/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@-moz-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-moz-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@-moz-keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}